<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page - Pet management </title>
</head>
<body>
    <h1>Welcome to Pet Management System</h1>
    <p>This app helps you manage your pets efficiently.</p>
    <h2>Features:</h2>
    <ul>
        <li>Add new pets with details such as name, species, age, owner, and vaccination status.</li>
        <li>Track the total number of pets in the system.</li>
        <li>Manage different types of pets, including dogs with specific breeds.</li>
        <li>View detailed information about each pet.</li>
    </ul>
    <p>Get started by adding your pets and keeping their information up to date!</p>
    <a href="./owner">Navigate Yo The Pet's Owner Page</a>

<footer>This web app was made by Bahaa, Shibel and Majd</footer>

</body>
</html>