<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Owners page</title>
</head>
<body>
    <h1>List of all owners</h1>
    <h2>Owners lists</h2>
    <div>
        <ul>
            {% for owner in owners %}
            <li>
                {{ owner.name }} - {{ owner.phone_number }}
                <a href="{{ url_for('add_pet', owner_phone_number=owner.phone_number) }}">Add Pet</a>
                <a href="{{ url_for('pets_list', owner_phone_number=owner.phone_number) }}">Pet List</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <a href="{{ url_for('add_owner') }}">Add owner</a>
</body>
</html>
